
<div class="layout_short block<?php echo $this->class; ?>">
<?php if ($this->hasMetaFields): ?>
<p class="info"><?php echo $this->date; ?> <?php echo $this->author; ?> <?php echo $this->commentCount; ?></p>
<?php endif; ?>
<h2><?php echo $this->text ? $this->linkHeadline : $this->newsHeadline; ?></h2>
<div class="teaser">
<?php echo $this->teaser; ?> 
</div>
<?php if ($this->text): ?>
<p class="more">
<?php if ($this->morelink): ?>
<a href="<?php echo $this->link; ?>" title="<?php echo $this->newsHeadline; ?>" <?php echo (!$this->target)?:'onclick="window.open(this.href); return false;"'; ?>><?php echo $this->morelink; ?></a>
<?php else:?>
<?php echo $this->more;?>
<?php endif; ?>
</p>
<?php endif; ?>
</div>
