
<div class="layout_latest block<?php echo $this->class; ?>">
<?php if ($this->hasMetaFields): ?>
<p class="info"><?php echo $this->date; ?> <?php echo $this->author; ?> <?php echo $this->commentCount; ?></p>
<?php endif; ?>
<?php if ($this->addImage): ?>
<div class="image_container<?php echo $this->floatClass; ?>"<?php if ($this->margin || $this->float): ?> style="<?php echo trim($this->margin . $this->float); ?>"<?php endif; ?>>
<?php if ($this->href): ?>
<a href="<?php echo $this->href; ?>"<?php echo $this->attributes; ?> title="<?php echo $this->alt; ?>">
<?php endif; ?>
<img src="<?php echo $this->src; ?>"<?php echo $this->imgSize; ?> alt="<?php echo $this->alt; ?>" />
<?php if ($this->href): ?>
</a>
<?php endif; ?>
<?php if ($this->caption): ?>
<div class="caption"><?php echo $this->caption; ?></div>
<?php endif; ?>
</div>
<?php endif; ?>
<h2><?php echo $this->text ? $this->linkHeadline : $this->newsHeadline; ?></h2>
<div class="teaser">
<?php echo $this->teaser; ?> 
</div>
<?php if ($this->text): ?>
<p class="more">
<?php if ($this->morelink): ?>
<a href="<?php echo $this->link; ?>" title="<?php echo $this->newsHeadline; ?>"  <?php echo (!$this->target)?:'target="_blank"'; ?>><?php echo $this->morelink; ?></a>
<?php else:?>
<?php echo $this->more;?>
<?php endif; ?>
</p>
<?php endif; ?>
</div>
